In [28]:
import pandas as pd
music_df = pd.read_csv('music.csv')
music_df.loc[music_df['gender'] == 1, 'gender'] = 'male'
music_df.loc[music_df['gender'] == 0, 'gender'] = 'female'
music_df.head()

    age  gender      genre
0    20    male     HipHop
1    23    male     HipHop
2    25    male     HipHop
3    26    male       Jazz
4    29    male       Jazz
5    30    male       Jazz
6    31    male  Classical
7    33    male  Classical
8    37    male  Classical
9    20  female      Dance
10   21  female      Dance
11   25  female      Dance
12   26  female   Acoustic
13   27  female   Acoustic
14   30  female   Acoustic
15   31  female  Classical
16   34  female  Classical
17   35  female  Classical

In [32]:
#assigning male = 1 and female = 0 
music_df['gender'] = music_df['gender'].astype('category')
music_df['gender'] = music_df['gender'].cat.codes
music_df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [39]:
#splitting the dataset to input and output for predicting
X = music_df.drop(columns = ['genre'])
y = music_df['genre']

In [42]:
#Getting our model ready for making predictions based on our previously split data
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [43]:
#adding two new records to predict their values
predictions = model.predict([[21, 1], [22, 0]])
predictions

F:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [46]:
#in order to measure accuracy of our model, we split the dataset into training and testing sets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

#comparing the predictions with our test predictions (y_test)
score = accuracy_score(y_test, predictions)
score

1.0

In [50]:
#Persisting the model for later training/use
import joblib

joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [52]:
#load the model for further testing/use
model = joblib.load('music-recommender.joblib')

model.predict([[21, 1]])

F:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)